<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Oftus Project on Strust 2 and Glassfish 3.0.1</display-name>
    
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher> 
        <dispatcher>REQUEST</dispatcher> 
    </filter-mapping>

    <!--
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
        <init-param>
            <param-name>configPath</param-name>
            <param-value>/WEB-INF/classes/shiro.ini</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher> 
        <dispatcher>FORWARD</dispatcher> 
        <dispatcher>INCLUDE</dispatcher> 
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    -->
    
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.myapp.servlet.ImageServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ActivateServlet</servlet-name>
        <servlet-class>com.myapp.servlet.ActivateServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ActivateServlet</servlet-name>
        <url-pattern>/activate_profile</url-pattern>
    </servlet-mapping>
    
    <!--
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.myapp.servlet.RegisterServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register_form</url-pattern>
    </servlet-mapping>
    -->
    
    <!--
    Log filer - not fully working
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>com.myapp.util.LogFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>This parameter is for testing.</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->
    <!--
    <filter>
        <filter-name>struts2-login</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>

        <filter-mapping>
            <filter-name>struts2-login</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    -->
    
    <welcome-file-list>
        <welcome-file>html/welcome.html</welcome-file>
    </welcome-file-list>

</web-app>
