/* 
 Document: HomeStuff.css
 Created on: Apr 9, 2012, 3:45:43 PM
 Author: Alwal Putta
 Description: Main stylesheet
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

root { 
    display: block;
}

html
{
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
}

body {
    width:100%;
    margin:0px;
    padding:0px;
    border: 0px dashed #007182;
    height: 100%;
/*    background: url(../images/background.JPG) no-repeat;*/
}

/* This will be used for setting any system messages */
.mask {
    display: none;
    position: fixed;
    background: #000; 
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    z-index: 10;
}

.message {
    display: none;
    position: relative;
    height: 200px;
    width: 300px;
    top: 200px;
    left: 200px;
    border: 5px #007182 dotted;
    z-index: 50;
}

.login-modal {
    /*    display: none;*/
    position: fixed;
    background: teal;
    color: white;
    width: 1000px;
    height: 600px;
    opacity: 1;
    z-index: 90;
    margin: 0px;
    border: 20px solid darkgreen;
    padding: 20px;
    border-radius: 25px;
    vertical-align: middle;
    text-align: center;
    font: 15px tahoma;
}

.login-login {
    display: block;
    float: left;
    position: relative;
    background: teal;
    color: white;
    width: 60%;
    height: 90%;
    opacity: 1;
    z-index: 90;
    margin: 10px;
    border: 1px solid #20548E;
    padding: 10px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: left;
    font: 15px tahoma;
}

.login-register {
    display: block;
    float: left;
    position: relative;
    background: teal;
    color: white;
    width: 18%;
    height: 90%;
    opacity: 1;
    z-index: 90;
    margin: 10px;
    border: 1px solid #20548E;
    padding: 10px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    font: 15px tahoma;
}

.register-modal {
    /*    display: none;*/
    /*    position: fixed;*/
    background: #aabbaa;
    color: white;
    width: 1000px;
    height: 600px;
    opacity: 1;
    z-index: 90;
    margin: 0px;
    border: 20px solid darkgoldenrod;
    padding: 20px;
    border-radius: 25px;
    vertical-align: middle;
    text-align: center;
    font: 15px tahoma;
}

.register-register {
    display: block;
    float: left;
    position: relative;
    background: #aabbaa;
    color: white;
    width: 60%;
    height: 90%;
    opacity: 1;
    z-index: 90;
    margin: 10px;
    border: 1px solid #20548E;
    padding: 10px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: left;
    font: 15px tahoma;
}

.register-login {
    display: block;
    float: left;
    position: relative;
    background: #aabbaa;
    color: white;
    width: 18%;
    height: 90%;
    opacity: 1;
    z-index: 90;
    margin: 10px;
    border: 1px solid #20548E;
    padding: 10px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    font: 15px tahoma;
}


.forgot-password-modal {
 /*   display: none;*/
    position: fixed;
    background: teal;
    color: white;
    width: 1000px;
    height: 600px;
    opacity: 1;
    z-index: 90;
    margin: 0px;
    border: 20px solid #20548E;
    padding: 20px;
    border-radius: 25px;
    vertical-align: middle;
    text-align: center;
    font: 15px tahoma;
}


.forgot-password {
    display: block;
    float: left;
    position: relative;
    background: teal;
    color: white;
    width: 60%;
    height: 90%;
    opacity: 1;
    z-index: 90;
    margin: 10px;
    border: 1px solid #20548E;
    padding: 10px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: left;
    font: 15px tahoma;
}


.login-login input, .register-register input, .forgot-password input, .new-element input {
    border-radius: 5px;
    margin: 5px;
    margin-left: 0px;
    height: 25px;
}

.new-element textarea {
    border-radius: 5px;
    margin: 5px;
    margin-left: 0px;
}


.login-button, .new-element-button {
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 10px;
    margin: 5px;
    vertical-align: baseline;
    background:cadetblue;
    border: 1px black solid;
}

.login-button:active, .new-element-button:active {
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 10px;
    margin: 5px;
    vertical-align: baseline;
    background: blue;
    border: 2px black solid;
}


.login-links, .new-element-links {
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 10px;
    margin: 5px;
    vertical-align: baseline; 
}

.loading {
    display: none;
    position: fixed;
    background: teal;
    color: white;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 900;
    border: 10px double #9F1B1B;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    font: 25px tahoma;
}


.highlight {
    background:gold;
}

/* Top Static Docking bar CSS */
.dockingBarTop {
    background-color:white;
    border-top:3px solid yellow;
    border-bottom:3px solid yellow;
    height: 80px;
    width:100%;
    top: 0px;
    left: 0px;
    border-radius: 0px;
    position: fixed;
    margin: 0px;
    padding: 0px;
    z-index:10;
}

/* Main central menu */
.mainTable {
    background-color:windowframe;
    border-top:1px solid yellow;
    border-bottom:2px solid yellow;
    width:100%;
    /* top: 62px;*/
    border-radius: 0px;
    position: relative;
    overflow: hidden;
}

/* Bottom Static Menu */
.dockingBarBottom {
    background-color: gainsboro;
    border-top: 3px solid yellow;
    border-bottom: 3px solid yellow;
    border-left: 0px;
    border-right: 0px;
    left: 0px;	
    bottom: 0px;
    height: 20px;
    width: 100%;
    border-radius: 0px;
    position: fixed;
    overflow: hidden;
    vertical-align: middle;
    display: table-cell;
}

.top-column-element-left {
    float: left;
    border: 0px solid #0f0f0f;
    margin-left: 0px;
    border-left: 0px;
    padding-left: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px blue;
    position: relative;
    background: lavender;
    height: 100%;
    width: 30%;
}

#logo {
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    vertical-align: central;
}


.company-logo {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font: 40px tahoma;
    font-weight: bold;
    text-shadow:2px 2px 2px #42440d;
    box-shadow: 0px 0px 0px 0px blue;
    color: green;
}

.company-logo-punchline {
    text-align: center;
    font: 20px tahoma;
    text-shadow:1px 1px 1px #42440d;
    box-shadow: 0px 0px 0px 0px blue;
    color: blue;
}

sup {
    font: 12px tahoma;
    font-weight: bold;
    text-shadow:1px 1px 1px #42440d;
    box-shadow: 0px 0px 0px 0px blue;
    color: darkgreen;
    vertical-align: top;
}

.top-column-element-middle {
    float: left;
    border: 0px solid #0f0f0f;
    text-align: center;
    font: 20px Arial;
    margin-left: 0px;
    border-left: 0px;
    padding-left: 0px;
    border-radius: 0px;
    text-shadow:0px 0px 0px #42440d;
    box-shadow: 0px 0px 0px 0px blue;
    color: darkgreen;
    position: relative;
    background: lightblue;
    height: 100%;
    width: 40%;
}

.top-column-element-right {
    float: left;
    border: 0px solid #0f0f0f;
    text-align: center;
    text-decoration: #3e779d;
    font: 14px Arial;
    margin-left: 0px;
    border-left: 0px;
    padding-left: 0px;
    border-radius: 0px;
    color: darkgreen;
    position: relative;
    background: lightcyan;
    height: 100%;
    width: 30%;
}

.middle-column-element-import {
    /*    display: none;*/
    position: relative;
    float: left;
    border: 2px solid black;
    margin: 1px;
    border-radius: 1px;
    background: #007182;
    height: 1000px;
    width: 5px;
}


.middle-column-element-import:hover {
    border: 2px solid blue;
    background: #42440d;
}


.middle-column-element {
    position: relative;
    float: left;
    border: 1px solid black;
    margin-left: 0px;
    margin-top: 5px;
    border-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    border-radius: 10px;
    text-align: center;
    color: orange;
    background: lightblue;
    height: 100%;
    width: 100%; /*change this to fit to the page*/
}

.middle-column-element:hover {
    background: #6699aa;
    border: 2px dashed #0f0000;
    color:yellow;
}

.middle-column-element:active {
    color: #447799;
    border: 2px dotted #0f0033;
    color:yellow;
}

.middle-row-element {
    border: 1px solid #0f0f0f;
    margin-left: auto;
    margin-right: auto;
    border-right: 0px;
    border-bottom: 0px;
    padding: 2px;
    border-radius: 0px;
    color: black;
    background: #aabbaa;
    height: auto;
    position: relative;
}

.middle-row-element:hover {
    border: 1px dashed black;
    background: #CDFFFF;
    color: black;
    border-radius: 1px;
}

.middle-row-element:active {
    border: 1px dotted black;
    background: green;
    color: #ffffff;
    border-radius: 5px;
}


.middle-row-element span {
    text-align: left;
}


.middle-row-new-element {
    border: 1px solid #0f0f0f;
    margin-left: 0px;
    border-right: 0px;
    padding: 5px;
    border-radius: 0px;
    background: orange;
    color: black;
    font: 12px tahoma;
    /*    text-transform: capitalize;*/
    text-align: center;
    text-decoration: #3e779d;
}

.middle-row-new-element:hover {
    border: 2px solid black;
    background: #007182;
    color: #ff0000;
    font: 12px tahoma;
}

.middle-row-new-element:active {
    border: 2px dashed black;
    background: green;
    color: #ff2222;
    font: 12px tahoma;
}


.new-element-modal {
    display: block;
    position: fixed;
    background: teal;
    color: white;
    width: 650px;
    height: 400px;
    opacity: 1;
    z-index: 90;
    margin: 0px;
    border: 20px solid darkgreen;
    padding: 20px;
    border-radius: 25px;
    vertical-align: middle;
    text-align: center;
    font: 15px tahoma;
}


.new-element {
    display: block;
    float: left;
    position: relative;
    background: teal;
    color: white;
    width: 90%;
    height: 90%;
    opacity: 1;
    z-index: 90;
    margin: 10px;
    border: 1px solid #20548E;
    padding: 10px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: left;
    font: 15px tahoma;
}


.new-category-modal {
    display: block;
    position: fixed;
    background: teal;
    color: white;
    width: 650px;
    height: 400px;
    opacity: 1;
    z-index: 90;
    margin: 0px;
    border: 20px solid darkgreen;
    padding: 20px;
    border-radius: 25px;
    vertical-align: middle;
    text-align: center;
    font: 15px tahoma;
}


.new-category {
    display: block;
    float: left;
    position: relative;
    background: teal;
    color: white;
    width: 90%;
    height: 90%;
    opacity: 1;
    z-index: 90;
    margin: 10px;
    border: 1px solid #20548E;
    padding: 10px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: left;
    font: 15px tahoma;
}


.edit-element-modal {
    display: none;
    position: fixed;
    background: teal;
    color: white;
    width: 500px;
    height: 500px;
    opacity: 1;
    z-index: 90;
    margin: 0px;
    border: 20px solid darkgreen;
    padding: 20px;
    border-radius: 25px;
    vertical-align: middle;
    text-align: center;
    font: 15px tahoma;
}


.edit-element {
    display: block;
    float: left;
    position: relative;
    background: teal;
    color: white;
    width: 90%;
    height: 90%;
    opacity: 1;
    z-index: 90;
    margin: 10px;
    border: 1px solid #20548E;
    padding: 10px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: left;
    font: 15px tahoma;
}


.middle-row-bottom-spacer {
    width: 100%;
}

.bottom-row-item {
    float: left;
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    vertical-align: middle;
    display: block;
    text-align: center;
    width: 20%;
    background: #6699aa;
    text-decoration: none;
    border: 0px solid #20548E;
    color: #EAFFED;
    white-space: nowrap;
    border-radius: 5px;
    color: black;
    font: 12px Tahoma;
}

.bottom-row-item a {
    color: black;
    font: 14px Tahoma;
}

a:link {
    background-color:none;
    color: black;
    text-decoration: none;
}

a:hover {
    background-color:none;
    color: #FF0000;
}

a:active {
    background-color:none;
    color: #FF0000;
}

a:visited {
    background-color:none;
    color: black;
}

p.spacer {
    height: 5px;
    margin: 0px;
}


#middle-column-sortable {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#middle-column-sortable li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

#middle-row-sortable {
    margin: 0px;
    padding: 0px;
    /*    overflow-y: scroll;*/
    /*    height: 1000px;*/
}

#middle-row-sortable li {
    margin: 0px;
    padding: 0px;
    display: block;
    vertical-align: top;
}

img.photo-box {
    float: left;
    border: 2px ridge yellowgreen;
    height: 65px;
    width: 55px;
    border-radius: 3px;
    background: grey;
    margin: 5px;
    margin-left: 10px;
}

#search-form-fieldset {
    border: none;
    margin-right: 5px;
    border: 1px;
    margin-bottom: 5px;
}

#menu {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    margin-top: 5px;
}

#menu ul {
    font: 14px Tahoma;
    margin: 2px;
}

#menu li {
    float: left;
    list-style: none;
    font: 14px Tahoma;
    margin: 5px;
    /*    margin-right: 20px;*/
    width: 70px;
}


#menu li a {
    display: block;
    background: #6699aa;
    padding: 3px;
    text-decoration: none;
    border: 1px solid #20548E;
    width: 100%;
    color: #EAFFED;
    white-space: nowrap;
    border-radius: 5px;
}

#menu li a:hover {
    background: #1A4473;
    font-weight: bold;
}


#menu li ul {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    padding-right: 15px;
    position: absolute;
    visibility: hidden;
    border-top: 1px solid white;
    text-align: left;
    border-radius: 5px;
    border: 2px solid cornflowerblue;
    background-color:
}


#menu li ul li {
    width: 100%;
    float: none;
    display: block;
    background:#E2EBED;
    padding: 5px;
    padding-right: 10px;
    margin: 0px;
    margin-right: 5px;
    border: 0.5px solid #007182;
}


#menu li ul li:hover {
    width: 100%;
    float: none;
    display: block;
    background:#abdcff;
    padding: 5px;
    padding-right: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px dashed #42440d;
    margin: 0px;
    margin-right: 5px;
}


#menu li ul li a {
    width: 100%;
    background: #9F1B1B;
}


#menu span {
    padding: 0;
    /* float: left;*/
}



.left {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 50px;
}

.right {
    float: right;
    margin: 0px;
    padding: 0px;
    width: 20px;
}


div.search-box {
    width: 320px;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid #6699aa;
    /* border-top: 2px solid #b4c1cb;*/
    /* box-shadow: inset 0 1px 2px rgba(0,0,0,0.08);*/
    float: left;
    background: #9ecbe2;
    margin: 0px;
    margin-top: 10px;
    padding-left: 5px;
    /* color: black;*/
    height: 20px;
}

div.search-box.focus {
    border: 1px solid #9ecbe2;
    box-shadow: 0 0 6px #abdcff, inset 0 1px 2px rgba(0,0,0,0.08);
}

input#search-input {
    width: 295px;
    height: 15px;
    color: #9F1B1B;
    border: 5px black;
    margin: 0px;
    margin-top: 2px;
    padding: 0px;
    border-radius: 1px;
    background: transparent;
    float: left;
    font: 14px tahoma;
}


input#search-input:focus {
    outline:none;
    font: 14px tahoma;
    color: black;
}

input#search-button {
    width: 20px;
    height: 20px;
    background: url(../images/search-icon.png) no-repeat;
    border: 0px;
    margin: 0px;
    padding: 0px;
    top: 0px;
    right: 0px;
    /* display: none;*/
    display: block;
    float: right;
}

.middle-column-element-heading {
    font: 16px Tahoma;
    text-transform: fullsize-kana;
    margin: 5px;
}

.favicon {
    width: 16px;
    height: 16px;
    border: none;
    margin: 2px;
    float: left;
    vertical-align: central;

}

.middle-row-element-text {
    text-decoration: none;
    font: 12px Tahoma;
    text-align: left;
    overflow: auto;
    /*    text-transform:capitalize;*/
    vertical-align: middle; 
    height: auto;
    border: 0px black solid;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: inline;
}


.middle-column-element-edit-icons {
    display: none;
    position: fixed;
    top: 200px;
    left: 200px;
    width: 34px;
    height: 18px;
    border: 1px #007182 solid;
    border-radius: 5px;
    background-color: yellowgreen;
    z-index: 200;
}


.middle-row-element-edit-icons {
    display: none;
    position: fixed;
    top: 200px;
    left: 200px;
    width: 34px;
    height: 18px;
    border: 1px #007182 solid;
    border-radius: 5px;
    background-color: yellow;
    z-index: 200;
}



.middle-column-element-edit-icon, .middle-column-element-delete-icon {
    float: left;
}


.middle-row-element-edit-icon, .middle-row-element-delete-icon {
    float: left;
}



.bottom-row-item span {
    float: left;
    color: black;
    font: 14px Tahoma;
}


.inline-column-edit-input {
    text-decoration: none;
    font: 12px Tahoma;
    text-align: left;
    overflow: auto;
    vertical-align: middle; 
    height: auto;
    border: 1px black solid;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 20px;
    border-radius: 20px;
}


.inline-row-edit-input {
    text-decoration: none;
    font: 11px Tahoma;
    text-align: left;
    overflow: auto;
    vertical-align: middle; 
    height: auto;
    border: 1px black solid;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 20px;
    border-radius: 20px;
}


.inline-row-edit-text {
    text-decoration: none;
    font: 11px Tahoma;
    text-align: left;
    overflow: auto;
    vertical-align: middle; 
    height: auto;
    border: 1px black solid;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 60px;
    border-radius: 20px;
}


.inline-column-element-edit {
    text-decoration: none;
    font: 11px Tahoma;
    text-align: left;
    overflow: auto;
    display: none;
    position: fixed;
    top: 200px;
    left: 200px;
    width: 34px;
    height: 100px;
    border: 2px #007182 solid;
    border-radius: 5px;
    background-color: yellowgreen;
    z-index: 100;
}


.inline-row-element-edit {
    text-decoration: none;
    font: 11px Tahoma;
    text-align: left;
    overflow: auto;
    vertical-align: middle; 
    margin: 0px;
    padding: 0px;
    display: none;

    position: fixed;
    top: 200px;
    left: 200px;
    width: 300px;
    height: 200px;
    border: 2px #007182 solid;
    border-radius: 5px;
    background-color: yellowgreen;
    z-index: 100;
}


input[type=button], input[type=reset]{
    border-radius: 2px;
    border: 1px solid black;
    height: 20px;
}



