<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/app1</property>
        <property name="connection.username">root</property>
        <property name="connection.password"/>
        
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">10</property>
        
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        
        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
        <property name="use_sql_comments">true</property>
        
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.hbm2ddl.import.files">/Users/palwal/Documents/NetBeansProjects/myapp/src/java/sql/load_data.ctl</property>

        <!-- Hibernate mapping files -->
        <mapping resource="com/myapp/admin/Gender.hbm.xml"/>
        <mapping resource="com/myapp/admin/State.hbm.xml"/>
        <mapping resource="com/myapp/admin/Address.hbm.xml"/>
        <mapping resource="com/myapp/admin/Credential.hbm.xml"/>
        <mapping resource="com/myapp/admin/Role.hbm.xml"/>
        <mapping resource="com/myapp/admin/Email.hbm.xml"/>
        <mapping resource="com/myapp/admin/Phone.hbm.xml"/>
        <mapping resource="com/myapp/admin/User.hbm.xml"/>
        <mapping resource="com/myapp/main/Category.hbm.xml"/>
        <mapping resource="com/myapp/main/Bookmark.hbm.xml"/>
        <mapping resource="com/myapp/main/BookmarkClick.hbm.xml"/>
        <mapping resource="com/myapp/main/Document.hbm.xml"/>
        <mapping resource="com/myapp/util/PageClick.hbm.xml"/>
        <mapping resource="com/myapp/util/LoginLog.hbm.xml"/>
        <mapping resource="com/myapp/util/Referral.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
